body{
	background-color: #bbbbbb;
	font-family: sans-serif;
}

.hidden{
	display: none;
}

main{
	display: flex;
	flex-wrap: wrap;
}

main > div{
  width: 27%;
  padding: 1px 15px;
  margin: 10px;
  background-color: #dedede;
}

form{
	width:25%;
	float:left;
}

span:nth-child(even){
	background-color: #dddddd;
}

span:nth-child(odd){
	background-color: #999999;
}

h3{
	display:inline;
}