body{
	background-color: #bbbbbb;
	font-family: sans-serif;
}

#wrapper{
	width:95%;
	margin-left: auto;
	margin-right: auto;
}

main{
	width: 54%;
	border:ridge 3px #000000;
	background-color: #888888;
}

main div:nth-child(even){
	background-color: #bbbbbb;
}

#zipNote{
	color: #ff0000;
}

canvas{
	width:42%;
	float:right;
	background-color: #eeeeee;
	border:ridge 3px #000000;
	/*display:none;*/
}

h1{
	text-align: center;
}